#back-control-panel{
    display: flex;
    justify-content: center;
    align-items: center;
}


.control-panel-easy {
    background-color: rgb(200, 195, 188);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    font-size: smaller;
    color: black;
    width: 180px;
    margin: 15px 0px;
    border: 4px solid;
  }

  .img-button-easy{
    width:  50px;
    height: 50px;
    margin: 10px;
  }

  
  
  .control-panel-medium {
    background-color: rgb(200, 195, 188);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    font-size: smaller;
    color: black;
    width: 320px;
    margin: 15px 0px;
    border: 4px solid;
  }

  .img-button-medium{
    /* width:  80px;
    height: 80px; */
    width:  50px;
    height: 50px;
    margin: 10px;
  }
  
  .control-panel-hard {
    background-color: rgb(200, 195, 188);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    font-size: smaller;
    color: black;
    width: 600px;
    margin: 15px 0px;
    border: 4px solid;
  }

  .img-button-hard{
    /* width:  100px;
    height: 100px; */
    width:  50px;
    height: 50px;
    margin: 10px;
  }
.img-button-easy img, .img-button-medium img, .img-button-hard img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
#control-panel-row{
    display: flex;
    justify-content: space-between; 
    align-items: center ; 
}

.control-panel-counters{
    border-radius: 3px; 
    background-color: black;
    color: red;
    font-size: 20px;
    font-weight: bold;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:5px;
    
}

.control-panel-counters dd {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }




#control-reset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.control-button-reset{
    width: 50px;
    height: 50px;
}
.control-button-reset img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.control-button-level{
    width: 100px;
    height: 50px;
}