@font-face {
  font-family: 'Minesweeper';
  src: url('../../assets/fonts/digital-7.ttf');
}

.button-level{
  margin: 5px 5px 0 5px;
}

#back-control-panel{
  justify-content: center;
  background-color: #c0c0c0;
  box-shadow: inset 1px 1px #0a0a0a, inset -1px -1px #dfdfdf, inset 2px 2px grey, inset -2px -2px #fff;
  padding: 3px;
  margin: 5px;
}

#control-panel-row{
  display: flex;
  justify-content: space-between; 
  align-items: center ; 
}

.control-panel-counters{
  font-family: 'Minesweeper';
  background-color: black;
  color: red;
  /* font-size: 12px; */
  font-size: 28px;
  width: 60px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:3px;  
}

.control-panel-counters dd {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}